In [9]:
#아이템 데이터
items = [['A', 'B', 'C'], ['A', 'B'], ['B', 'C'], ['A', 'C'], 
        ['A', 'B', 'C'],['B', 'C'],['A', 'C'],['A', 'B'],['A'],['A', 'C']]
print(item)

#최소 지지도 임계치 설정
min_support = 0.3 #이 임계치 이상의 지지도를 가지는 아이템을 찾을 것

#아이템 지지도 계산
item_counts = {}
transaction = len(items) #전체 트랜잭션의 수
print(transaction)

#각 트랜잭션에서 아이템의 지지도를 계산
for i in items:
#     print(i)
    for j in i:
        if j in item_counts:
            item_counts[j] += 1
        else:
            item_counts[j] = 1
            
#아이템 지지도가 최소 지지도 임계치 이상인 아이템들을 찾기
frequent = {}
for item, support in item_counts.items():
    if support / transaction >= min_support:
        frequent[item] = support

print("아이템 지지도")
print(frequent)

for item, support in frequent.items():
    print(f"{item} support = {support}")

C
10
아이템 지지도
{'A': 8, 'B': 6, 'C': 7}
A support = 8
B support = 6
C support = 7

# apriori 함수

In [11]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd

In [13]:
items = [['A', 'B', 'C'], ['A', 'B'], ['B', 'C'], ['A', 'C'], 
        ['A', 'B', 'C'],['B', 'C'],['A', 'C'],['A', 'B'],['A'],['A', 'C']]

df = pd.DataFrame(items, columns = ['Item1', 'Item2', 'Item3'])
df

  Item1 Item2 Item3
0     A     B     C
1     A     B  None
2     B     C  None
3     A     C  None
4     A     B     C
5     B     C  None
6     A     C  None
7     A     B  None
8     A  None  None
9     A     C  None

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item1   10 non-null     object
 1   Item2   9 non-null      object
 2   Item3   2 non-null      object
dtypes: object(3)
memory usage: 372.0+ bytes

In [15]:
one_hot = pd.get_dummies(df)
one_hot

   Item1_A  Item1_B  Item2_B  Item2_C  Item3_C
0     True    False     True    False     True
1     True    False     True    False    False
2    False     True    False     True    False
3     True    False    False     True    False
4     True    False     True    False     True
5    False     True    False     True    False
6     True    False    False     True    False
7     True    False     True    False    False
8     True    False    False    False    False
9     True    False    False     True    False

In [38]:
#Arpriori 알고리즘으로 빈발항목 집합 찾기

frequent = apriori(one_hot, min_support = 0.3, use_colnames = True)
frequent

   support            itemsets
0      0.8           (Item1_A)
1      0.4           (Item2_B)
2      0.5           (Item2_C)
3      0.4  (Item2_B, Item1_A)
4      0.3  (Item2_C, Item1_A)

In [39]:
#연관규칙 추출
rules = association_rules(frequent, metric ='lift', min_threshold = 1.0)
#모든 연관규칙을 추출하려면 최소 임계치를 0으로 설정한다
rules

# frequent
#매개변수
#frequent : 빈발항목집합 데이터프레임(apriori 함수로 생성)
#metric : 규칙의 품질을 측정하는 평가지표(lift, upport, confidence, leverage, conviction)
#min_threshold : 최소 임계치(기본값 1.0)

#데이터프레임 반환
#frequent_itemsets : 규칙의 전제 항목
#antecedents : 규칙의 결과 항목
#support : 규칙의 지지도를 나타냄
#confidence : 규칙의 신뢰도
#life : 규칙의 리프트(독립적인 확률에 비해 규칙을 따를 확률의 상대적 증가)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Item2_B),(Item1_A),0.4,0.8,0.4,1.0,1.25,0.08,inf,0.333333
1,(Item1_A),(Item2_B),0.8,0.4,0.4,0.5,1.25,0.08,1.2,1.000000